<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Crossword</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/styles/crossword.css" rel="stylesheet" type="text/css" th:href="@{~/styles/crossword.css}">
</head>
<body>
<form class='crossword' th:style="'grid-template: repeat(' + ${gridSize} + ', 20px) / repeat(' + ${gridSize} + ', 20px);'">
    <button class='square' formaction="/clue" th:each="i: ${#numbers.sequence(1, gridSize*gridSize)}"></button>
</form>
</body>
</html>