<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Published Crossword</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/styles/crossword.css" rel="stylesheet" type="text/css" th:href="@{~/styles/crossword.css}">
</head>
<body>
<div class="crossword-container" th:style="'width:' + ${1 + crossword.getSize()*21} + 'px'">
    <div class='crossword' th:style="'grid-template: repeat(' + ${crossword.getSize()} + ', 20px) / repeat(' + ${crossword.getSize()} + ', 20px);'">
        <div th:class="'${i} square'"
             th:each="square : ${crosswordVM.getSquares()}"
             th:style="${square.getLetter()} == '' ? 'background-color: black;' : ''"
        >
            <span th:text="${square.getNumber()} ? ${square.getNumber()} : ''"></span>
        </div>
    </div>
</div>
<div>
    Across
    <div th:each="clue : ${crosswordVM.getAcrossClues()}">
        <span th:text="${clue.getClueNumber()}"></span>
        <span th:text="${clue.getHint()}"></span>
        <span th:text="' (' + ${clue.getAnswer().length()} + ')'"></span>
    </div>
</div>
<div>
    Down
    <div th:each="clue : ${crosswordVM.getDownClues()}">
        <span th:text="${clue.getClueNumber()}"></span>
        <span th:text="${clue.getHint()}"></span>
        <span th:text="' (' + ${clue.getAnswer().length()} + ')'"></span>
    </div>
</div>
</body>
</html>