<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Your Published Crossword</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../static/styles/crossword.css" rel="stylesheet" type="text/css" th:href="@{~/styles/crossword.css}">
</head>
<body>
<div class='crossword' th:style="'grid-template: repeat(' + ${crossword.getSize()} + ', 20px) / repeat(' + ${crossword.getSize()} + ', 20px);'">
    <div th:class="'${i} square'"
         th:each="i: ${#numbers.sequence(1, crossword.getSize()*crossword.getSize())}"
         th:style="${crossword.getLetterForLocation((i - 1) % crossword.getSize(), ((i - 1) - ((i - 1) % crossword.getSize())) / crossword.getSize())} == '' ? 'background-color: black;' : ''"
    >
    </div>
</div>
<div>
    Across
    <div th:each="clue : ${acrossClues}">
        <span th:text="${clue.getHint()}"></span>
    </div>
</div>
<div>
    Down
    <div th:each="clueInclusion : ${crossword.getClueInclusions()}">
        <div th:each="clue : ${downClues}">
            <span th:text="${clue.getHint()}"></span>
        </div>
    </div>
</div>
</body>
</html>